/* src/styles/blog.css */

.blog-title {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 0.5rem;
  text-align: center;
}

.featured-post img {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.featured-post img:hover {
  transform: scale(1.05);
}

.blog-card {
  margin-bottom: 20px;
}

.blog-card img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.blog-card img:hover {
  transform: scale(1.05);
}

.blog-excerpt {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-detail img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.about-card, .real-time-news-card {
  animation: fadeIn 1s ease-in-out;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
