/* Estilos para la imagen pequeña con texto encima */
.image-with-text {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
}

.small-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-style: italic;
}

/* Estilos para los íconos sociales */
.social-icons {
    margin-top: 1rem;
}

.social-icons i {
    font-size: 1.8rem;
    margin-right: 60px; /* Aumenta el espacio entre los íconos */
    transition: color 0.3s ease;
}

.social-icons i:hover {
    color: #007bff;
}

/* Estilos generales */
.hero-contact {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 0; /* Elimina el margen inferior */
}

.hero-image {
    width: 100%;
    max-height: 350px; /* Ajusta la altura máxima de la imagen */
    object-fit: cover;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Asegura que cubra toda la imagen */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
}

.contact-details {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-methods-container {
    display: flex;
    align-items: center;
}

.contact-methods {
    width: 100%;
}

.contact-method {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-method a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.contact-method i {
    font-size: 1.5rem;
    color: #007bff;
    margin-right: 15px;
}

.contact-method:hover {
    transform: translateY(-5px);
}

.highlight {
    color: #007bff;
}
