.service-detail-container {
  padding: 0;
}

.service-content {
  padding: 20px;
}

.section-title {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
  color: #333;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.section-title .section-icon {
  margin-right: 10px;
}

.points-list,
.detailed-procedure-list,
.benefits-list {
  margin-left: 3rem; /* Mueve las listas más a la derecha */
}

.portfolio-section {
  padding: 20px;
  margin-top: 20px;
}

.portfolio-image-container {
  text-align: center;
}

.carousel-service {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px; /* Ajusta la altura del contenedor del carrusel según tus necesidades */
}

.carousel-service img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Contain asegura que la imagen se ajuste dentro del contenedor sin recortarse */
}

.service-button {
  margin-bottom: 10px;
  width: 100%;
  background-color: #004085;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
  text-align: left;
  font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
}

.service-button:hover {
  background-color: #0056b3;
}

.btn-consult {
  background-color: #28a745;
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
  width: 50%; /* Ajusta el ancho del botón */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-card {
  margin-top: 20px;
}

.info-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.info-card .card-text {
  font-size: 0.9rem;
}

/* Asegúrate de que no haya reglas CSS que agreguen líneas debajo de los títulos */
.section-title::after {
  content: none;
}

/* Ajustes adicionales para responsividad */
@media (max-width: 200px) {
  .carousel-item {
    height: 300px; /* Ajusta la altura del carrusel en pantallas pequeñas */
  }
}
